@using Catalog.Areas.CMS.Helpers

@model Catalog.Areas.CMS.Forms.ProductForm

@{
    ViewBag.Title = "";
}

<div class="tile">
     <div class="t-header">
         <div class="th-title">
             Добавление нового продукта
         </div>
     </div>

     <div class="t-body tb-padding">
         @using (Html.BeginForm("Edit", "ProductCms", FormMethod.Post, new {enctype="multipart/form-data"}))
         {
             @Html.ValidationSummary(true)
             <div class="row">
                 <div class="col-sm-3 m-b-25">
                     @Html.CustomLabel("Название продукта")
                     @Html.EditorFor(f => f.Name, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(f => f.Name)
                 </div>
             </div>
             <div class="input-group">
                 @Html.CustomLabel("Описание")
                 @Html.EditorFor(f => f.Description, new {htmlAttributes = new {@class = "html-editor"}})
                 @Html.ValidationMessageFor(f => f.Description)
             </div>
             <div class="row">
                 <div class="col-sm-3 m-b-25">
                     @Html.CustomLabel("Цена")
                     @Html.EditorFor(f => f.Price, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(f => f.Price)
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-3 m-b-25">                    
                     @if (Model.ImageOnePath != "")
                     {
                         <img src="@Model.ImageOnePath" runat="server">
                     }
                     @Html.HiddenFor(f => f.ImageOnePath)

                     @Html.CustomLabel("Картинка в списке")
                     @Html.TextBoxFor(f => f.ImageOne, new {htmlAttributes = new {@class = "form-control"}, type = "file"})
                     @Html.ValidationMessageFor(f => f.ImageOne)
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-3 m-b-25">
                     @if (Model.ImageTwoPath != "")
                     {
                         <img src="@Model.ImageTwoPath" runat="server">
                     }
                     @Html.HiddenFor(f => f.ImageTwoPath)
                     
                     @Html.CustomLabel("Картинка в карточке")
                     @Html.TextBoxFor(f => f.ImageTwo, new {htmlAttributes = new {@class = "form-control"}, type = "file"})
                     @Html.ValidationMessageFor(f => f.ImageTwo)
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-3 m-b-25">
                     @if (Model.ImageTreePath != "")
                     {
                         <img src="@Model.ImageTreePath" runat="server">
                     }
                     @Html.HiddenFor(f => f.ImageTreePath)
                     
                     @Html.CustomLabel("Картинка 3")
                     @Html.TextBoxFor(f => f.ImageThree, new {htmlAttributes = new {@class = "form-control"}, type = "file"})
                     @Html.ValidationMessageFor(f => f.ImageThree)
                 </div>
             </div>

             <input type="submit" value="Сохранить" />
             <a class="btn btn-primary pull-right" href="@Url.Action("Index", "ProductCms")">Вернуться в список</a>
         }
     </div>
</div>