@model IEnumerable<Catalog.Entities.Product>

<div class="tile">
    <div class="t-header">
        <div class="th-title">
            Список категорий
        </div>
        <br/>    
        <a class="btn btn-primary" href="@Url.Action("New", "ProductCms")">Добавить</a>
    </div>
  
    <table id="data-table-command" class="table table-bordered table-vmiddle">
        <thead>
        <tr>
            <th data-column-id="id" data-type="numeric">Id</th>
            <th data-column-id="sender">Name</th>
            <th data-column-id="sender">Price</th>
            <th data-column-id="sender">Commands</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a href="@Url.Action("Edit", "ProductCms", new { id=product.Id })" class="btn btn-icon btn-info">
                        <span class="zmdi zmdi-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "ProductCms", new { id=product.Id })" class="btn btn-icon btn-info">
                        <span class="zmdi zmdi-delete"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>