@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="SuperFlat Responsive Admin Template">
        <meta name="keywords" content="SuperFlat Admin, Admin, Template, Bootstrap">

        <title>Not Found</title>
        
        @Styles.Render("~/Areas/CMS/Static/Css/Vendor/animate.css/animate.min.css")
        @Styles.Render("~/Areas/CMS/Static/Css/Vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css")
        @Styles.Render("~/Areas/CMS/Static/Css/app.css")
    </head>

    <body class="bg-brand">   
        <div class="four-zero">
            <h2>404</h2>
            <small>Page not found</small>
            
            <footer>
                @{
                    if (ViewBag.referrer != null) {
                        <a href="@ViewBag.referrer"><i class="zmdi zmdi-arrow-back"></i></a>
                    }
                }
                <a href="@Url.Action("Index", "HomeCms")"><i class="zmdi zmdi-home"></i></a>
            </footer>
        </div>
        
        <!-- Older IE Warning Message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="~/Areas/CMS/Static/Image/browsers/chrome.png" runat="server" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="~/Areas/CMS/Static/Image/browsers/firefox.png" runat="server" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="~/Areas/CMS/Static/Image/browsers/opera.png" runat="server" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="~/Areas/CMS/Static/Image/browsers/safari.png" runat="server" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="~/Areas/CMS/Static/Image/browsers/ie.png" runat="server" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
    </body>
</html>