<!DOCTYPE html>
<html>
	<head>
		<title>Markito A Ecommerce Category Flat Bootstarp Resposive Website Template | Products :: w3layouts</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Markito Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		
		@Styles.Render("~/Areas/Catalog/Static/Css/bootstrap.css")
		@Scripts.Render("~/Areas/Catalog/Static/js/jquery.min.js")
		@Styles.Render("~/Areas/Catalog/Static/Css/style.css")
		
		<script type="application/x-javascript">
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		
		@Styles.Render("~/Areas/Catalog/Static/Css/amaranth.css")
		
		@Scripts.Render("~/Areas/Catalog/Static/js/move-top.js")
		@Scripts.Render("~/Areas/Catalog/Static/js/easing.js")
		
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		
		@Styles.Render("~/Areas/Catalog/Static/Css/megamenu.css")
		@Scripts.Render("~/Areas/Catalog/Static/js/megamenu.js")
		
		<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
		
		@Scripts.Render("~/Areas/Catalog/Static/js/simpleCart.min.js")
	</head>
<body>
	@Html.Partial("Header")
	<div class="container">
		@RenderBody()
	</div>
	@Html.Partial("Footer")
</body>
</html>